<footer>  
    <hr>
    <h3>Todos los derechos reservados - Guillermo Manuel Sanchez Lizarraga</h3>
    <hr>
    
</footer>

<% scripts.forEach(element => { %>
<script src="<%= element %>"></script>
<% }) %>

</body>

</html>
