<%- include('partials/header.html') %>

<main class="container-lg mh py-4">
	<div class="d-flex justify-content-start">
		<h1 class="text-start mb-0 ms-2">Editar</h1>
	</div>

	<form class="" id="form">
		<div class="">
			<div class="mb-2">
				<label for="id" class="form-label">Id</label>
				<input type="text" id="id" name="id" class="form-control" value="<%= alumno.id %>" placeholder="Introduzca un id" required />
			</div>
			<div class="mb-2">
				<label for="matricula" class="form-label">Matricula</label>
				<input type="text" id="matricula" name="matricula" class="form-control" value="<%= alumno.matricula %>" placeholder="Introduzca una matricula" required />
			</div>
		</div>
		<div class="mb-2">
			<label for="nombre" class="form-label">Nombre</label>
			<input type="text" id="nombre" name="nombre" class="form-control" value="<%= alumno.nombre %>" placeholder="Introduzca un nombre" required />
		</div>
		<div class="mb-2">
			<label for="domicilio" class="form-label">Domicilio</label>
			<input type="text" id="domicilio" name="domicilio" class="form-control" value="<%= alumno.domicilio %>" placeholder="Introduzca un domicilio" required />
		</div>
		<div class="mb-2">
			<div class="mb-2">
				<label for="sexo" class="form-label">Sexo</label>
				<input type="text" id="sexo" name="sexo" class="form-control" value="<%= alumno.sexo %>" placeholder="Introduzca un sexo" required />
			</div>
			<div class="mb-2">
				<label for="especialidad" class="form-label">Especialidad</label>
				<input type="text" id="especialidad" name="especialidad" class="form-control" value="<%= alumno.especialidad %>" placeholder="Introduzca una matricula" required />
			</div>
		</div>
		<br>
		<div class="d-flex flex-wrap gap-2">
			<button class="btn btn-dark" id="btnActualizar">
				Editar
			</button>
			<button class="btn btn-info text-white" type="reset">
				Restablecer
			</button>
		</div>
	</form>

	<div class="modal fade" id="alertModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="alertTitle">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="alertMessage">Modal body text goes here.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</main>

<%- include('partials/footer.html') %>