<%- include('partials/header.html') %>

<main class="container-lg mh py-4">
	<div class="d-flex justify-content-start">
		<h1 class="text-start mb-0 ms-2">Alumnos</h1>
	</div>
	<form class="mt-3" id="form">
		<div class="mb-2">
			<div class="mb-2">
				<label for="id" class="form-label">Id</label>
				<input type="text" id="id" name="id" class="form-control" placeholder="Introduzca un id" required />
			</div>
			<div class="mb-2">
				<label for="matricula" class="form-label">Matricula</label>
				<input type="text" id="matricula" name="matricula" class="form-control" placeholder="Introduzca una matricula" required />
			</div>
		</div>
		<div class="mb-2">
			<label for="nombre" class="form-label">Nombre</label>
			<input type="text" id="nombre" name="nombre" class="form-control" placeholder="Introduzca un nombre" required />
		</div>
		<div class="mb-2">
			<label for="domicilio" class="form-label">Domicilio</label>
			<input type="text" id="domicilio" name="domicilio" class="form-control" placeholder="Introduzca un domicilio" required />
		</div>
		<div class="mb-2">
			<div class="mb-2">
				<label for="sexo" class="form-label">Sexo</label>
				<input type="text" id="sexo" name="sexo" class="form-control" placeholder="Introduzca un sexo" required />
			</div>
			<div class="mb-2">
				<label for="especialidad" class="form-label">Especialidad</label>
				<input type="text" id="especialidad" name="especialidad" class="form-control" placeholder="Introduzca una matricula" required />
			</div>
		</div>
		<br>
		<div class="d-flex flex-wrap gap-2">
			<button class="btn btn-success text-black" id="btnAgregar" type="submit">
				Agregar
			</button>
			<button class="btn btn-warning" id="btnConsultar">
				Buscar
			</button>
			<button class="btn btn-info " type="reset">
				Limpiar
			</button>
		</div>
		<br>
		<div class="scrollable">
			<table id="results" class="table table-light table-hover table-bordered mt-2 mb-0 align-middle">
				<thead>
					<tr>
						<th scope="col" class="text-center">Id</th>
						<th scope="col" class="text-center">Matricula</th>
						<th scope="col" class="text-center">Nombre</th>
						<th scope="col" class="text-center">Domicilio</th>
						<th scope="col" class="text-center">Sexo</th>
						<th scope="col" class="text-center">Especialidad</th>
						<th scope="col" class="text-center"></th>
					</tr>
				</thead>
				<tbody>
					<% alumnos.forEach(element=> { %>
					<tr>
						<th class="text-center" scope="row">
							<%= element.id %>
						</th>
						<td class="text-center">
							<%= element.matricula %>
						</td>
						<td class="text-center">
							<%= element.nombre %>
						</td>
						<td class="text-center">
							<%= element.domicilio %>
						</td>
						<td class="text-center">
							<%= element.sexo %>
						</td>
						<td class="text-center">
							<%= element.especialidad %>
						</td>
						<td class="d-flex justify-content-center align-items-center gap-2">
							<a href="/delete/<%= element.id %>" class="btn btn-danger">
								Borrar
							</a>
							<a href="/update/<%= element.id %>" class="btn btn-dark">
								Editar
							</a>
						</td>
					</tr>
					<% }); %>
				</tbody>
			</table>
		</div>
	</form>

	<div class="modal fade" id="alertModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="alertTitle">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="alertMessage">Modal body text goes here.</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				</div>
			</div>
		</div>
	</div>
</main>

<%- include('partials/footer.html') %>